{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3 border p-3 mt-5 border-1">
        <h4 class="text-center">Sign In</h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification bg-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input  type="email" name="email" placeholder="Email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" placeholder="Password" name="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="remember" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
              </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>

    </div>
</div>


{% endblock %}
